*{
  margin: 0;
  padding: 0;
  border: 0;
}

/* -----------------------------------
.............TYPOGRAPHY...............
----------------------------------- */
h1{
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
  color: var(--main-blue);
  text-align: center;
}
h2{
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
  color: var(--main-blue);
}
h3{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  transform: translateX(.2rem);
  color: var(--main-blue);
}
a{
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light-grey);
}
p{
  font-family: "Source Serif Pro", serif;
  font-size: 1.3rem;
  margin: 1% 0;
  text-align: center;
  color: var(--main-body)
}
.profile p{
  font-family: "Acumin Pro", sans-serif;
  font-size: .7rem;
  letter-spacing: .1rem;
  transform: translateX(.05rem);
  text-transform: uppercase;
  color: var(--main-body);
  margin: .4rem 0 0 0;
}
.center-text{
  text-align: center;
  transform: translateX(.3rem);
  margin: 0 0 8% 0;
}
.highlight-2{
  color: var(--main-teal);
}
.blue-text{
  color: var(--main-blue)
}
.column a{
  letter-spacing: .4rem;
}
.column h2{
  color: white;
}
.column p{
  font-size: 1rem;
  text-align: left;
}
.column .home-p{
  font-size: 1.4rem;
}
.team{
  padding: 7rem 0;
}
#random{
  width: 80%;
  margin: 5rem 0 10rem 0;
}
/*-----------------------------------
...............HEADER.................
----------------------------------- */
header{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 0 10% 0;
}
#desktop-nav{
  display:none;
}
#mobile-nav{
  display:none;
}
#logo{
  width: 30%;
  height: auto;
}
#hamburger{
  height: 30px;
}

/* -----------------------------------
...............BODY...................
----------------------------------- */
.flex-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column{
  background-color: var(--light-grey-bkgd);
  color: var(--main-body);
  width: 55%;
  padding: 10% 5%;
}
.center-flex{
  align-items: center;
}
#icon{
  width: 16px;
  transform: translateY(2px);
}
.profile{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.profile img{
  width: 200px;
  border-radius: 50%;
  margin: 0 0 1rem 0;
}
.grey-bk{
  background-color: var(--light-grey-bkgd);
}
.blue-bk{
  background-color: var(--main-blue);
}
.blue-bk p{
  color: white;
}
form{
  width: 50%;
  margin: 7rem auto;
}
input,textarea{
  width: 100%;
  max-width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  background-color: #f2f2f2;
  font-size: 1.3rem;
  color: var(--main-body);
  font-family: "Source Serif Pro", serif;
}
input::placeholder, textarea::placeholder{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: .2rem;
  color: var(--light-grey);
  text-transform: uppercase;
}
.spaced{
  margin: 0 0 15rem 0;
}
.img-container{
  width: 45%;
  position: relative;
}
.flex-img{
  width: 45%;
}
.offset{
  width: 90%;
  position:absolute;
  max-width: 300px;
  right: 50%;
  transform: translate(50%, -18%);
}
/* -----------------------------------
...............FOOTER.................
----------------------------------- */
footer{
  background-color: var(--main-blue);
  padding: 5% 0 2% 0;
}
footer h2{
  display: inline-block;
  color: white;
}
footer h4{
  margin: 0 0 1rem 0;
}
footer h4, footer li a{
  font-family: "Acumin Pro", sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  color: white;
  letter-spacing: .2rem;
}
footer li{
  margin: .3rem 0 0 0;
}
footer p{
  text-align: center;
  font-size: .7rem;
  color: white;
}
footer ul{
  list-style: none;
  margin: 5% 5%;
}
hr{
  height: 3px;
  background-color: white;
  width: 80%;
  margin: 3rem auto 0 auto;
}
footer .button{
  margin: 0 0 0 6rem;
}
/* -----------------------------------
................MISC..................
----------------------------------- */
.button{
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding: .9rem 2rem;
  letter-spacing: .4rem;
  border-radius: 7px;
  border-bottom: 5px solid var(--darker-green);
  font-size: 1rem;
  background-color: var(--main-green);
}
.button a{
  display: inline-block;
  transform: translateX(.2rem);
  color: white;
}
.button:active{
  transform: translateY(2px);
  border-bottom: 2px solid var(--darker-green);
}
:root {
  --light-grey-bkgd: #f8f8f8;
  --light-grey: #cbcbcb;
  --main-green: #95d600;
  --main-blue: #0082ca;
  --main-teal: #1ccfc9;
  --main-body: #375974;
  --darker-green: #78ac5f;
}
/* -----------------------------------
...........MEDIA QUERIES..............
----------------------------------- */
@media (min-width:1000px){
  #mobile-nav{
    display:none;
  }
  #desktop-nav{
    display:flex;
  }
  #hamburger{
    display:none;
  }
  nav{
    width: 70%;
    text-align: right;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: .5%;
  }
  nav ul{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3%;
    transform: translateX(.6rem);
  }
  nav ul li{
    list-style: none;
    margin-left: 2rem;
    letter-spacing: .6rem;
    font-size: 1.1rem;
  }
  nav ul li a{
    transition: all .2s ease-in-out
  }
  nav ul li a:hover{
    color: var(--main-teal)
  }
  .active{
    color: var(--main-blue);
  }
  #dropdown{
    position: relative;
  }
  #dropdown-content{
    position: absolute;
    height: 0;
    overflow: hidden;
    right: 0;
    transition: all .5s ease-in-out;
  }
}
@media (min-width:1350px){
  body{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
}
