*{
  margin: 0;
  padding: 0;
  border: 0;
}

/* -----------------------------------
.............TYPOGRAPHY...............
----------------------------------- */
h2{
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
  color: var(--main-blue);
}
h3{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  transform: translateX(.2rem);
  color: var(--main-blue);
}
a{
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light-grey);
}
p{
  font-family: "Source Serif Pro", serif;
  font-size: 1.3rem;
  margin: 1% 0;
}
.profile p{
  font-family: "Acumin Pro", sans-serif;
  font-size: .7rem;
  letter-spacing: .1rem;
  transform: translateX(.05rem);
  text-transform: uppercase;
  color: var(--main-body);
  margin: .4rem 0 0 0;
}
.team h2{
  text-align: center;
  transform: translateX(.3rem);
  margin: 0 0 10% 0;
}
/*-----------------------------------
...............HEADER.................
----------------------------------- */
header{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 0 10% 0;
}
#logo{
  width: 30%;
}
nav{
  width: 70%;
  text-align: right;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: .5%;
}
nav ul{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3%;
  transform: translateX(.6rem);
}
nav ul li{
  list-style: none;
  margin-left: 2rem;
  letter-spacing: .6rem;
  font-size: 1.1rem;
}
.active{
  color: var(--main-blue);
}
.flex-container img{
  width: 40%;
}
.column{
  background-color: var(--main-blue);
  color: white;
  padding: 10% 5%;
}
.column h2{
  color: white;
}
.column p{
  font-size: 1rem;
}
/* -----------------------------------
...............BODY...................
----------------------------------- */
.icon{
  width: 16px;
  transform: translateY(2px);
}
.profile{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.profile img{
  width: 200px;
  border-radius: 50%;
  margin: 0 0 1rem 0;
}
.grey-bk{
  background-color: var(--light-grey-bkgd)
}
.team{
  padding: 7% 0;
}
/* -----------------------------------
...............FOOTER.................
----------------------------------- */
footer{
  background-color: var(--main-blue);
  padding: 5% 0 2% 0;
}
footer h2{
  display: inline-block;
  color: white;
}
footer h4{
  margin: 0 0 1rem 0;
}
footer h4, footer li a{
  font-family: "Acumin Pro", sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  color: white;
  letter-spacing: .2rem;
}
footer li{
   margin: .3rem 0 0 0;
}
footer p{
  text-align: center;
  font-size: .7rem;
  color: white;
}
footer ul{
  list-style: none;
  margin: 5% 5%;
}
hr{
  height: 3px;
  background-color: white;
  width: 80%;
  margin: 3rem auto 0 auto;
}
.flex-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.center-flex{
  align-items: center;
}
/* -----------------------------------
................MISC..................
----------------------------------- */
.button{
  display: inline-block;
  padding: .9rem 2rem;
  letter-spacing: .4rem;
  border-radius: 7px;
  border-bottom: 5px solid var(--darker-green);
  font-size: 1rem;
  background-color: var(--main-green);
  margin: 0 0 0 5rem;
}
.button a{
  display: inline-block;
  transform: translateX(.2rem);
  color: white;
}
.button:active{
  transform: translateY(2px);
  border-bottom: 2px solid var(--darker-green);
}
:root {
  --light-grey-bkgd: #f8f8f8;
  --light-grey: #cbcbcb;
  --main-green: #95d600;
  --main-blue: #0082ca;
  --main-teal: #1ccfc9;
  --main-body: #375974;
  --darker-green: #78ac5f;
}
/* -----------------------------------
...........MEDIA QUERIES..............
----------------------------------- */
@media (min-width:1350px){
  body{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
}
